{% extends "base.html" %}

{% block page_content %}
<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.4.0/fabric.min.js"></script> -->
		<meta charset="utf-8" />
		<title>Test</title>
		{% load static %}
		<link href='{% static "style.css" %}'>
		<!--<script src='{% static "snap/dist/snap.svg-min.js" %}'></script> -->
		<script src='{% static "Drag.js" %}'></script>
	</head>
	<body>
		<div id="container">
			<div id="dropzone" class="dropzone">
			</div>
			<div class="draggable"></div>
		</div>
	</body>
</html>

{% endblock %}
