{% extends "base.html" %}

{% block page_content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
		<script src="https://unpkg.com/gojs/release/go-debug.js" type="text/javascript"></script>
		<script src="https://gojs.net/latest/extensions/Figures.js" type="text/javascript"></script>
		{% load static %}
		<link rel="stylesheet"  type="text/css" href='{% static "menuBar.css" %}'>
		<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
		<link rel='stylesheet' type="text/css" href='{% static "DataInspector.css" %}'>
		<script src='{% static "DataInspector.js" %}'></script>
		<script src='{% static "graph.js" %}'></script>
		<title>Bigraphs Editor</title>
		<h1 align="center">BIGRAPHS EDITOR</h1>
	</head>
	<body onload="init()">
		<hr>
		<!--
		<div id="taskBar">
			<input type="textbox" id="txtbox" value="New Diagram"></input>
			<button id="btn1">New Diagram</button>
			<button id="btn2">Convert to formula</button>
			<button id="btn3">Save diagram as image</button>
			<button id="btn4">Save diagram as SVG</button>
			<button id="btn5">Export as JSON</button>
			<button id="btn6">Load diagram</button>
			<button id="btn7">Add custom SVG</button>
			<button id="btn8">About</button>
			<button id="btn9">Help</button>
		</div>
		-->
		<div id='cssmenu'>
		<ul>
			 <input type="textbox" id="txtbox" value="New Diagram"></input>
		   <li><a href='#' id="btn1"><span>New Diagram</span></a></li>
		   <li><a href='#' id="btn2"><span>Convert to Formula</span></a></li>
		   <li><a href='#' id="btn3"><span>Export Diagram</span></a></li>
			 <li><a href='#' id="btn4"><span>Import Diagram</span></a></li>
			 <li><a href='#' id="btn5"><span>Save as Image</span></a></li>
			 <li><a href='#' id="btn6"><span>Save as SVG</span></a></li>
			 <li><a href='#' id="btn7"><span>Add custom SVG</span></a></li>
			 <li><a href='#' id="btn8"><span>About</span></a></li>
		   <li class='last'><a href='#' id="btn9"><span>Help</span></a></li>
		</ul>
		</div>
		<div id="mainDiv">
		    <div id="myPaletteDiv"></div>
		    <div id="myDiagramDiv"></div>
				<div id="draggablePanel" class="draggable">
		      <div id="infoDraggable" class="handle">Info</div>
		      	<div>
		      		<div id="Info"></div>
		      	</div>
		    </div>
	  </div>
		<div id="startupWrapper">
			<form>
				<fieldset>
					<label for="name">Name your project:</label>
					<input type="text" name="diagramName" id="diagramName" value="New Diagram" class="text ui-widget-content ui-corner-all">
				</fieldset>
			</form>
		</div>
		<div id="newDiagramWrapper">
				This will clear the diagram, save your work before proceeding.
		</div>
		<div id="formulaWrapper">
			<div id="result"></div>
		</div>
		<div id="jsonWrapper">
			Select a JSON file:<input type="file" id="myJSON" accept="application/JSON">
		</div>
		<div id="svgWrapper">
			<form>
				<fieldset>
					<label for="name">SVG Name:</label>
					<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
				</fieldset>
			</form>
			<fieldset>
				<input type="radio" id="atomic" name="choice" value="atomic" selected>
			  <label for="atomic">atomic</label>
				<input type="radio" id="nonatomic" name="choice" value="nonatomic" >
			  <label for="nonatomic">non-atomic</label>
			</fieldset>
			Select an SVG file: <input type="file" id="myFile" accept="image/svg+xml">
		</div>
		<div id="helpWrapper">
			<ul>
				<li>Entity Nodes: Comes in various shapes and types. Use the info panel to perform operations, such as changing the colour, setting the max links, renaming, etc.</li>
					<ul>
					  <li>Environment Entity Node: The dashed environment entity denotes the region of adjacent parts of the system. Acts as the root in the editor and every entity must be placed inside the node. Unlinkable with other entities.</li>
					  <li>Default Entity Node: The standard entity type which comes in three different shapes by default.</li>
					  <li>Group Entity Node: The group node allows entities to be nested for a hierarchial representation of bigraphs.</li>
						<li>Id Entity Node: The identity node which is represented as a dashed grey box by default. Unlinkable with other entities.</li>
						<li>Name: Represents the links to other bigraphs. To use it, place the name outside the environment node and create a connection with an entity node. The name must match the link name.</li>
						<li>Custom Entity Nodes: Custom nodes could be used by importing an SVG file. Imported nodes cannot be used as group entities.</li>
					</ul>
				<li>Links: Form a link between other entities by clicking and dragging the arrow to another entity. Link names could be configured inside the info panel.</li>
				<li>Dragging: To move default and custom nodes, click and drag the highlighted box on the top left corner.</li>
			</ul>
		</div>
	</body>
</html>

{% endblock %}
