.block {
    display: block;
    float: left;
    background-color: #ccc;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

#bsq {
  background-color: #99e;
  z-index: 1;
  border-radius: 1em;
  border: solid 3px black;
  height: 150px;
  width: 150px;
  color: #fff;
  left: 10px;
  top: 30px;
  box-sizing: border-box;
  position: absolute;
}

#bdsq {
  height: 200px;
  width: 300px;
  border: dashed 4px transparent;
  border-radius: 1em;
  border-color: #000;
  left: 200px;
  top: 30px;
  box-sizing: border-box;
  position: absolute;
}

#bdov {
  height: 200px;
  width: 200px;
  left: 600px;
  top: 30px;
  border: dashed 4px transparent;
  border-color: #000;
  border-radius: 1em;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

#env {
  width:500px;
  height:500px;
  background-color: #DAE4E4;
  position: absolute;
  left: 10px;
  top: 100px;
  box-sizing: border-box;
}

.dragging {
  border-color: #aaa;
}

.drop-target{
  background-color: #29e;
  border-color: #fff;
}

#bsq.can-drop{
  background-color: #4e4;
}
